<!DOCTYPE html>
<html>
  <head>
    <title>Qureat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $('div').raty();
      // $('.star-rating').raty({
      //   path: '/assets',
      //   rendOnly: true,
      //   score: function() {
      //     return $(this).attr('data-score');
      //   }
      // });
    </script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
